/* Delineado date */
.DateInput_input__focused {
    outline: 0;
    background: #ffffff;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #212529;
    border-left: 0;
}

/* Shortcut */
.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-top: 26px solid transparent;
    border-right: 33px solid #ffffff;
    bottom: 0;
    right: 0;
}

/* Hover effect en botones de movil */
#open:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Tooltip delay */
.ag-header-cell-label::after {
    transition-delay: 0s !important;
}

/* Smaller font for calendar */
.smaller-font .DateInput_input {
    font-size: 18px;  /* adjust to the font size you want */
    color: black;
}